@import "variables";

html,
body {
  min-width: 320px;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "PT Sans", Roboto, sans-serif;
  background-color: #F2F2F2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: $white-color;
}

.menu-open {
  overflow: hidden;
}
